.container
{
    width: 100%;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper
{
    width: 80%;
    display: flex;
    column-gap: 20px;
}

.bookings
{
    width: 70%;
}

.ad
{
    width: 30%;
}

.wrapper>div:first-child
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media screen and (max-width:1180px) 
{
    .wrapper
    {
        padding: 20px;
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }   
    
    .wrapper>div
    {
        align-items: center;
    }

    .bookings
    {
        width: 100%;
    }

    .ad
    {
        width: 100%; 
    }

}

@media screen and (max-width:1180px) 
{
    .wrapper
    {
        margin-top: 150px;
    }
}
