.container
{
    background: linear-gradient(to top, var(--gradient-primary) 100%, var(--gradient-secondary) 47%);
}

.wrapper
{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 9vw;
}

.wrapper>div:first-child
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media screen and (max-width:1180pc) 
{
    .wrapper
    {
        flex-direction: column;
        row-gap: 30px;
    }    
}