.container
{
    background: linear-gradient(to top, var(--gradient-primary) 100%, var(--gradient-secondary) 47%);
}

.wrapper
{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 9vw;
}

.wrapper>div:first-child
{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media screen and (max-width:1180px) 
{
    .wrapper
    {
        padding: 20px;
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        width: 100%;
    }   
    
    .wrapper>div
    {
        align-items: center;
    }
}

@media screen and (max-width:1180px) 
{
    .wrapper
    {
        padding: 0;
        align-items: center;
    }    
}

