.searchbox
{
    width: 75vw;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
    bottom: -30%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


@media screen and (max-width:575px) 
{
    .searchbox
    {
        row-gap: 240px;
    }    
}