.faq
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 9vw;
    padding-right: 9vw;
}

.faq>p
{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

.faq>h1
{
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 600;
    margin-top: 10px;
}

.faqwrapper
{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.faqwrapper>img
{
    width: 650px;
    height: 500px;
}

@media screen and (max-width:1180px)
{
    .faqwrapper
    {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .faqwrapper>img
    {
        width: 80vw;
        height: fit-content;
    }
}