.cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
}

.card
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFBFE;
    min-width: 180px;
    height: 150px;
    border-radius: 8px;
    color: #ABB6C7;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    row-gap: 10px;
}

.current
{
    border: 1px solid var(--primary-color);
}

.header
{
    text-align: center;
    color: #102851;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0.75px;
}

.card>p
{
    margin-top: 10px;
}