.main
{
    padding: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    width: 700px;
}

.container
{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.container>img
{
    width: 124px;
    height: 124px;
}

.content
{
    font-size: 14px;
}

.content>h4
{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.content>h6
{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
}

.content>p
{
    margin-top: 5px;
}

.content>img
{
    margin-top: 10px;
}

.contentBottom
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    column-gap: 20px;
}

.contentBottom>span
{
    color: #01A400;
    font-weight: 700;
}

.footer
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 120px;
}

.footer>span
{
    color: #01A400;
}

.footer>button
{
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    border: 0;
    cursor: pointer;
}

.slots
{
    margin-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
}

.slots>span
{
    width: 100px;
}

.time
{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.slotContent
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.slotbooking
{
    margin-top: 30px;
    width: auto;
    position: relative;
}

.slotbooking p
{
    height: 1px;
    background-color: #F0F0F5;
    width: 100%;
}