.container
{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding: 9vw;
    height: 490px;
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.phone
{
    width: 450px;
    height: 450px;
}

.phone>img
{
    width: 100%;
    height: 100%;
}

.content
{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.content>p
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #414146;
}

.contentheader
{
    font-size: 48px;
    font-weight: 600;
    width: 100%;
    position:relative;
}

.contentheader>h1
{
    text-align: left;
    color: var(--primary-color);
    margin: 0;
}

.contentheader>h1>span
{
    color: var(--secondary-color);
}

.contentheader>img
{
    position: absolute;
    left: -80px;
    top: 50px;
}

.sms
{
    display: flex;
    width: 100%;
}

.smsinner
{
    width: 100%;
}

.smsinner>p
{
    width: 30px;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #FAFBFE;
    display: block;
    border-right: 1px solid #B4B4BE;
    font-size: 14px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

.smsinner>input
{
    width: 75%;
    height: 20px;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FAFBFE;
    border: 0;
}

.smsinner
{
    display: flex;
    width: 100%;
}

.smswrapper
{
    width: 100%;
    display: flex;
    align-items: center;
}

.smswrapper>button
{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: 40px;
    width: 130px;
    border: 0;
    border-radius: 8px;
    color: white;
    justify-content: center;
}

.app
{
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
}

.app>img
{
    width: 180px;
    height: 50px;
}


@media screen and (max-width:1180px)
{
    .container
    {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-bottom: 30px;
        text-align: center;
    }

    .content
    {
        margin-top: 30px;
        width: 80%;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

@media screen and (max-width:600px)
{
    .app
    {
        flex-direction: column;
        row-gap: 20px;
    }

    .phone
    {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }    

    .contentheader>h1
    {
        font-size: 30px;
    }
}