.container
{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding: 9vw;
    height: 450px;
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.phone1, .phone2
{
    position: absolute;
}

.phone1
{
    top:90px;
    z-index: 100;
}

.phone2
{
    left: -140px;
    top:-5px;
}

.phone1, .phone2
{
    position: relative;
}

.phone1 img, .phone2 img
{
    position: absolute;
}

.phone2>img:first-child
{
    height: 450px;
    width: 280px;
}

.phone2>img:last-child
{
    top: 38px;
    left: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 412px;
    width: 264px;
}

.phone1>img:first-child
{
    height: 355px;
    width: 240px;
}

.phone1>img:last-child
{
    top: 25px;
    left: 6px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 330px;
    width: 229px;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content>p
{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #414146;
}

.contentheader
{
    font-size: 48px;
    font-weight: 600;
    width: 70%;
    position:relative;
}

.contentheader>h1
{
    text-align: left;
    color: var(--primary-color);
    margin: 0;
}

.contentheader>h1>span
{
    color: var(--secondary-color);
}

.contentheader>img
{
    position: absolute;
    left: -80px;
    top: 50px;
}

.sms
{
    display: flex;
}

.smswrapper>p
{
    width: 30px;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #FAFBFE;
    display: block;
    border-right: 1px solid #B4B4BE;
    font-size: 14px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

.smswrapper>input
{
    width: 150px;
    height: 20px;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FAFBFE;
}

.smswrapper
{
    display: flex;
    width: 450px;
}

.smswrapper>button
{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: 40px;
    padding: 10px;
    width: 80px;
    border: 0;
    border-radius: 8px;
    color: white;
    margin-left: 20px;
}

.app
{
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
}

.app>img
{
    width: 180px;
    height: 50px;
}

@media screen and (max-width:1180px)
{
    .container
    {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}