.searchwrapper
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
    background-color: var(--primary-color);
    position: relative;
}

.home
{
    height: 0;
    background-color: white;
    top:10px;
}

.searchbar
{
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    padding: 25px;
    column-gap: 20px;
    position: absolute;
    bottom: -50px;
}

.bookbar
{
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right:10%;
    bottom: -50px;
}

.bookbar>input
{
    width:100%;
    height: 50px;
    background-color: #F0F0F0;
    border: 0;
    border: 1px solid #FAFBFE;
    border-radius: 8px;
    font-size: 14px;
}

.searchbar_input
{
    padding-left: 50px;
    background-color: #F0F0F0;
    font-size: 14px;
    position: relative;
    border-radius: 8px;
    padding-right: 5px;
    border: 1px solid #ABB6C7;
}

.firstinput
{
    width: 40%;
}

.secondinput
{
    width: 60%;
}

.searchbar_input>select
{
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
    border: 0;
    font-size: 14px;
}

.searchbar_input>img
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
}

.searchbar>button, .bookbar>button
{
    height: 50px;
    font-size: 14px;
    font-size: 500;
    border: 0;
    color: white;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.bookingheader
{
    position: absolute;
    left: 10%;
    bottom: -20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

@media screen and (max-width:910px) 
{
    .bookbar 
    {
        bottom:-70px;
        width:80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .home>.searchbar
    {
        top: 0;
        margin-left: 0;
        width: 95%;
    }

    .bookingheader
    {
        top:-10px;
    }
}

@media screen and (max-width:575px) 
{
    .home>.searchbar
    {
        padding-top: 0;
    }

    .searchbar
    {
        top:30px;
        flex-direction: column;
        row-gap: 10px;
        height: 220px;
    }

    .searchbar_input
    {
        width: 100%;
    } 

    .searchbar>button
    {
        width: 100%;
        padding: 20px;
    }

    .bookbar
    {
        flex-direction: column;
        row-gap: 10px;
        bottom: -120%;
    }

    .bookbar>button
    {
        width: 100%;
    }
}