.medcontainer
{
    padding-top: 90px;  
    min-height: 10vh;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    width: 80%;
}

.wrapper
{
    width: 70%;
}

.medheader>p:last-child
{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.medheader>p>img
{
    height: 20px;
    width: 20px;
}

.medcentres
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.adwrapper
{
    margin-top: 95px;
    width: 30%;
}

@media screen and (max-width:1180px) 
{
    .medcontainer
    {
        flex-direction: column;
        padding-top: 90px;
    }

    .wrapper
    {
        width: 100%;
    }

    .medheader
    {
        width: 100%;
    }

    .medcentres
    {
        width: 100%;
    }

    .adwrapper
    {
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width:575px) 
{
    .medcontainer
    {
        margin-top: 80px;
    }
}