*,
*::before,
*::after 
{
  box-sizing: border-box;
}

*
{
    font-family: 'Poppins', sans-serif;
}

:root
{
    --primary-color: #2AA7FF;
    --secondary-color: #1B3C74;
    --gradient-primary: #E7F0FF;
    --gradient-secondary: #D9D9D9;
    --gradient-terrtiary: #E8F1FF;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}